@define-color accent_color {accent};
@define-color accent_bg_color {accent};
@define-color accent_fg_color {on_surface};
@define-color window_bg_color {background};
@define-color window_fg_color {foreground};
@define-color headerbar_bg_color {surface};
@define-color headerbar_fg_color {on_surface};
@define-color popover_bg_color {surface_variant};
@define-color popover_fg_color {on_surface_variant};
@define-color view_bg_color {background};
@define-color view_fg_color {foreground};
@define-color card_bg_color {surface};
@define-color card_fg_color {on_surface};

@define-color sidebar_bg_color {surface_variant};
@define-color sidebar_fg_color {on_surface};
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;