.config/mpd/database
.config/mpd/log
.config/mpd/state  
.config/mpd/pid  
.config/mpd/playlists
.config/mpd/state
.config/mpd/sticker.sql
.config/vpn/__pycache__/

.config/fish/fish_variables
.config/fish/fishd.*
.config/fish/fish_history

.config/clrsync/layout.ini
