[submodule ".zsh/zsh-autocomplete"]
	path = .zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/waybar/wireguard-manager"]
	path = .config/waybar/wireguard-manager
	url = https://github.com/obsqrbtz/wireguard-manager.git
