$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* { all: unset; }

.layout-box {
  font-family: Iosevka Nerd Font;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em;
  color: rgba($surface-fg, 0.8);
}

.close-btn {
  min-width: 90px;
  padding: 0.4em 0.6em 0.4em 0.4em;
  font-size: 2em;
  border-radius: 0.1em;
  color: #f5edca;
  &:hover {
    color: white;
  }
}

.btns-box {
  font-size: 3em;
  margin-left: 10px;

  button {
    color: #f5edca;
    border-radius: 0.1em;
    padding: 0.4em 0.6em 0.4em 0.4em;

    &:hover {
      transition: 200ms linear color;
      color: white;
    }
  }
}

.calendar{
  background: #0e1414;
  color: #acbfb5;
  border: 1px solid #202e2e;
}

.cal {
  color: #acbfb5;
  padding: 5px;
  padding-bottom: 1px;
}
