* {
    border: none;
    border-radius: 0;
    font-family: "Mononoki Nerd Font Propo";
		font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #11121d;
    color: #a0a8cd;
		border-radius: 10px;
		border: 1px solid #a485dd;
}

#window {
    font-weight: bold;
    font-family: "Mononoki Nerd Font";
}

#workspaces button {
    padding: 5px;
		margin: 5px;
		border-radius: 10px;
    background: #0E1415;
    color: #a0a8cd;
}

#workspaces button.active{
	background: #a485dd;
	color: #06080a;
}

#workspaces button.focused {
    color: #004F55;
    border-top: 2px solid #002022;
}

#mode {
    background: #384764;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-audio, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
		margin: 0 10px;
}

@keyframes blink {
    to {
        background-color: #DEE4E4;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-audio {
    color: #a485dd;
}

