* {
    border: none;
    border-radius: 0;
    font-family: "Mononoki Nerd Font Propo";
		font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #0E1415;
    color: #DEE4E4;
}

#window {
    font-weight: bold;
    font-family: "Mononoki Nerd Font";
}

#workspaces button {
    padding: 5px;
		margin: 5px;
    background: #0E1415;
    color: #DEE4E4;
}

#workspaces button.active{
	background: #384764;
	color: #DEE4E4;
}

#workspaces button.focused {
    color: #004F55;
    border-top: 2px solid #002022;
}

#mode {
    background: #384764;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
		margin: 0 10px;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #DEE4E4;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-audio {
    color: rgb(102, 220, 105);
}

#tray {
}

