@define-color accent_color #9A8C98;
@define-color accent_bg_color #9A8C98;
@define-color accent_fg_color #F2E9E4;
@define-color window_bg_color #0F0F1E;
@define-color window_fg_color #F2E9E4;
@define-color headerbar_bg_color #1A1A2E;
@define-color headerbar_fg_color #F2E9E4;
@define-color popover_bg_color #22223B;
@define-color popover_fg_color #C9ADA7;
@define-color view_bg_color #0F0F1E;
@define-color view_fg_color #F2E9E4;
@define-color card_bg_color #1A1A2E;
@define-color card_fg_color #F2E9E4;

@define-color sidebar_bg_color #22223B;
@define-color sidebar_fg_color #F2E9E4;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;