*{
	border: none;
}
window {
	margin: 0px;
	border: 1px solid #4d4f4c;
	background-color:#1b1d1e;
}

#input {
	margin: 5px;
	border: none;
	border-radius: 0;
	color: #DEE4E4;
	background-color: #1b1d1e;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #1b1d1e;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #1b1d1e;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #dadad5;
}

#entry:selected {
	background-color: rgba(0,0,0,0);
	} 

#entry:selected {
	border-radius: 0;
	background-color: #761F30;
	border: 1px solid #AB2E47;
}
