@define-color accent_dark #761F30;
@define-color accent_light #AB2E47;
@define-color bg #1b1d1e;
@define-color input_bg #1b1d1e;
@define-color border #4d4f4c;
@define-color fg #dadad5;

* {
	font-family: SauceCodePro Nerd Font Mono;
	font-size: 12px;
	font-weight: bold;
}

window {
	margin: 0px;
	border: 1px solid @border;
	background-color: @bg;
}

#input {
	margin: 5px;
	border: none;
	color: #dadad5;
	background-color: @input_bg;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: @bg;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: @bg;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: @fg;
}

#entry {
	background-color: @bg;
}

#entry:selected {
	border-radius: 0;
	background-color: @accent_dark;
	border: 1px solid @accent_light;
}

#entry arrow {
	border: none;
	color: @fg;
}
