window {
	margin: 0px;
	border: 1px solid #1C3703;
	background-color:#0E1415;
}

#input {
	margin: 5px;
	border: none;
	border-radius: 0;
	color: #DEE4E4;
	background-color: #2B3232;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #0E1415;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #0E1415;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #DEE4E4;
}

#entry:selected {
	border-radius: 0;
	background-color: #1C3703;
}
