@define-color accent_color #95A328;
@define-color accent_bg_color #95A328;
@define-color accent_fg_color #C2C2B0;
@define-color destructive_color #B44242;
@define-color destructive_bg_color #B44242;
@define-color destructive_fg_color #151515;
@define-color success_color #95A328;
@define-color success_bg_color #95A328;
@define-color success_fg_color #151515;
@define-color warning_color #E1C135;
@define-color warning_bg_color #E1C135;
@define-color warning_fg_color #151515;
@define-color error_color #B44242;
@define-color error_bg_color #B44242;
@define-color error_fg_color #151515;
@define-color window_bg_color #151515;
@define-color window_fg_color #C2C2B0;
@define-color view_bg_color #151515;
@define-color view_fg_color #C2C2B0;
@define-color headerbar_bg_color #1C1C1C;
@define-color headerbar_fg_color #C2C2B0;
@define-color headerbar_border_color #3F3639;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color #3F3639;
@define-color sidebar_bg_color #1C1C1C;
@define-color sidebar_fg_color #C2C2B0;
@define-color sidebar_border_color #3F3639;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color #3F3639;
@define-color card_bg_color #1C1C1C;
@define-color card_fg_color #C2C2B0;
@define-color card_shade_color #3F3639;
@define-color dialog_bg_color #1C1C1C;
@define-color dialog_fg_color #C2C2B0;
@define-color popover_bg_color #1C1C1C;
@define-color popover_fg_color #CCCCCC;
@define-color shade_color #3F3639;
@define-color scrollbar_outline_color #3F3639;

@define-color blue_1 #76C39B;
@define-color blue_2 #60928F;
@define-color blue_3 #60928F;
@define-color blue_4 #60928F;
@define-color blue_5 #60928F;
@define-color green_1 #95A328;
@define-color green_2 #95A328;
@define-color green_3 #95A328;
@define-color green_4 #95A328;
@define-color green_5 #95A328;
@define-color yellow_1 #9E9052;
@define-color yellow_2 #E1C135;
@define-color yellow_3 #E1C135;
@define-color yellow_4 #E1C135;
@define-color yellow_5 #E1C135;
@define-color orange_1 #E1C135;
@define-color orange_2 #E1C135;
@define-color orange_3 #E1C135;
@define-color orange_4 #E1C135;
@define-color orange_5 #E1C135;
@define-color red_1 #B44242;
@define-color red_2 #B44242;
@define-color red_3 #B44242;
@define-color red_4 #B44242;
@define-color red_5 #B44242;
@define-color purple_1 #86596C;
@define-color purple_2 #7C435A;
@define-color purple_3 #7C435A;
@define-color purple_4 #7C435A;
@define-color purple_5 #7C435A;
@define-color brown_1 #CEB34F;
@define-color brown_2 #CEB34F;
@define-color brown_3 #CEB34F;
@define-color brown_4 #CEB34F;
@define-color brown_5 #CEB34F;
@define-color light_1 #C2C2B0;
@define-color light_2 #C2C2B0;
@define-color light_3 #CCCCCC;
@define-color light_4 #3F3639;
@define-color light_5 #3F3639;
@define-color dark_1 #3F3639;
@define-color dark_2 #1C1C1C;
@define-color dark_3 #1C1C1C;
@define-color dark_4 #151515;
@define-color dark_5 #151515;

scale trough highlight {
    background: #95A328
}
